In [1]:
#Exercise 3-1: Names
names: list=['Sania','ayesha','fatima','Sidra']
for n in names:
  print(n)

Sania
ayesha
fatima
Sidra

In [2]:
#Exercise 3-2: Greetings
for n in names:
  print(f"Hello, {n}! Welcome to the Python assignment.")

Hello, Sania! Welcome to the Python assignment.
Hello, ayesha! Welcome to the Python assignment.
Hello, fatima! Welcome to the Python assignment.
Hello, Sidra! Welcome to the Python assignment.

In [3]:
#Exercise 3-3: Your Own List
fvt_transportation = ['Yahmaha Bike', 'Audi car', 'orange Line']

for item in fvt_transportation:
    print(f"I would like to own a {item}.")

I would like to own a Yahmaha Bike.
I would like to own a Audi car.
I would like to own a orange Line.

In [5]:
#Exercise 3-4: Guest List
names: list=['Sania','ayesha','fatima','Sidra']
for n in names:
  print(f"Dear {n},\nYou are cordially invited to dinner at my place on Saturday.\nIt would be an honor to have you.\nRegards,\nSamrah\n\n")

Dear Sania,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear ayesha,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear fatima,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Sidra,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah

In [7]:
#Exercise 3-5: Changing Guest List
names: list=['Sania','ayesha','fatima','Sidra']
print(f"{names[2]} can't make it to the dinner.\n")
names[2] = 'Sara'
print('Second Set of Invitation Messages.....\n')
for n in names:
  print(f"Dear {n},\nYou are cordially invited to dinner at my place on Saturday.\nIt would be an honor to have you.\nRegards,\nSamrah\n\n")

fatima can't make it to the dinner.

Second Set of Invitation Messages.....

Dear Sania,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear ayesha,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Sara,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Sidra,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah

In [12]:
#Exercise 3-6: More Guests
names: list=['Sania','ayesha','fatima','Sidra']
print('Good news! We found a bigger dinner table.\n')
names.insert(0,'Emman')
names.insert(int(len(names)/2),'Zainab')
names.append('meerab')
print('New Set of Invitation Messages.....\n')
for n in names:
  print(f"Dear {n},\nYou are cordially invited to dinner at my place on Saturday.\nIt would be an honor to have you.\nRegards,\nSamrah\n\n")

Good news! We found a bigger dinner table.

New Set of Invitation Messages.....

Dear Emman,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Sania,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Zainab,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear ayesha,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear fatima,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Sidra,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear meerab,
You are cordially invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah

In [13]:
#Exercise 3-7: Shrinking Guest List
print('Unfortunately, the new dinner table won\'t arrive in time for the dinner.\nWe can only invite two people for dinner.\n')
for i in range(len(names)-2):
  names.pop()
 
for n in names:
  print(f"Dear {n},\nYou are still invited to dinner at my place on Saturday.\nIt would be an honor to have you.\nRegards,\nSamrah\n\n")
del names[0]
del names[0]    
print(names)

Unfortunately, the new dinner table won't arrive in time for the dinner.
We can only invite two people for dinner.

Dear Emman,
You are still invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


Dear Sania,
You are still invited to dinner at my place on Saturday.
It would be an honor to have you.
Regards,
Samrah


[]

In [14]:
#Exercise 3-8: Seeing the World
locations: list = ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
print(locations)
print("Orignal List: {0}".format( locations))
print("Sorted List: {0}".format( sorted(locations)))
print("Orignal List: {0}".format( locations))

print("Reverse Sorted List: {0}".format( sorted(locations, reverse=True)))
print("Orignal List: {0}".format( locations))

locations.reverse()
print("Reversed List: {0}".format( locations))
locations.reverse()
print("Orignal List: {0}".format( locations))
locations.sort()
print("Sorted List: {0}".format( locations))
locations.sort(reverse=True)
print("Reverse Sorted List: {0}".format( locations))

['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
Orignal List: ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
Sorted List: ['Dubai', 'Itly', 'Saudia', 'Sydney', 'Turkey']
Orignal List: ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
Reverse Sorted List: ['Turkey', 'Sydney', 'Saudia', 'Itly', 'Dubai']
Orignal List: ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
Reversed List: ['Turkey', 'Sydney', 'Itly', 'Saudia', 'Dubai']
Orignal List: ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
Sorted List: ['Dubai', 'Itly', 'Saudia', 'Sydney', 'Turkey']
Reverse Sorted List: ['Turkey', 'Sydney', 'Saudia', 'Itly', 'Dubai']

In [15]:
#Exercise 3-9: Dinner Guests
names: list=['Sania','ayesha','fatima','Sidra']#Exercise 3-4: Guest List
print(f"Number of guests invited to dinner in Exercise 3-4: {len(names)}")


#Exercise 3-5: Changing Guest List
#print(f"{names[2]} can't make it to the dinner.\n")
names[2] = 'Sara'
print(f"Number of guests invited to dinner in Exercise 3-5: {len(names)}")


#Exercise 3-6: More Guests
#print('Good news! We found a bigger dinner table.\n')
names.insert(0,'Emman')
names.insert(int(len(names)/2),'Zainab')
names.append('meerab')
print(f"Number of guests invited to dinner in Exercise 3-6: {len(names)}")

#Exercise 3-7: Shrinking Guest List
#print('Unfortunately, the new dinner table won\'t arrive in time for the dinner.\nWe can only invite two people for dinner.\n')
for i in range(len(names)-2):
  names.pop()
del names[0]
del names[0]
print(f"Number of guests invited to dinner in Exercise 3-7: {len(names)}")

Number of guests invited to dinner in Exercise 3-4: 4
Number of guests invited to dinner in Exercise 3-5: 4
Number of guests invited to dinner in Exercise 3-6: 7
Number of guests invited to dinner in Exercise 3-7: 0

In [16]:
#Exercise 3-10: Every Function
cities: list = ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
cities.append('London')
print("Orignal List after append London : {0}".format( cities))
cities.insert(0,'Paris')

cities.sort()
print("Sorted List: {0}".format( cities))
cities.reverse()
print("Reversed List: {0}".format( cities))
cities.pop()
cities.remove('Paris')
print("List after pop and remove: {0}".format( cities))
cities.sort(reverse=True)
print("Reverse Sorted List: {0}".format( cities))
cities.clear()
print("List after clear: {0}".format( cities))

Orignal List after append London : ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey', 'London']
Sorted List: ['Dubai', 'Itly', 'London', 'Paris', 'Saudia', 'Sydney', 'Turkey']
Reversed List: ['Turkey', 'Sydney', 'Saudia', 'Paris', 'London', 'Itly', 'Dubai']
List after pop and remove: ['Turkey', 'Sydney', 'Saudia', 'London', 'Itly']
Reverse Sorted List: ['Turkey', 'Sydney', 'Saudia', 'London', 'Itly']
List after clear: []

In [17]:
#Exercise 3-11: Intentional Error
cities: list = ['Dubai', 'Saudia', 'Itly', 'Sydney', 'Turkey']
'''
print(cities[5]) #IndexError: list index out of range
'''
print(cities[4])

Turkey